body {
	margin: 0px;
	overflow: hidden;
	position: relative;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.game-container {
	width: 420px;
	height: 750px;
	display: block;
	position: relative;
	height: 100vh;
}

#board {
	flex-shrink: 0;
	background-image: url("Image/Image/sky.png");
	background-position-y: center;
	background-size: cover;
	position: absolute;
}

.start-header {
	z-index: 11;
	width: 100vw;
	height: 5vh;
	display: flex;
	justify-content: space-around;
	padding-top: 3vh;
	position: relative;
}

.regim {
	width: calc(95vw/2.5);
}

.regim-btn {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 18px;
	padding: 8px 10px 8px 15px;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #000;
	text-align: center;
}

.regim-btn img{
	width: 15%;
	margin: auto 0;
}

.dropdown-list{
	display: block;
	background-color: #000;
	border-radius: 10px;
	text-align: center;
	width: 50vw;
	transform: translateX(-12.5%);
}

.dropdown-list.hidden {
	display: none;
}

.options{
	color: #fff;
	font-size: 18px;
	padding: 15px 8px;
	width: 100%;
	margin: auto;
	border: none;
	background: none;
}

.options:not(:first-child){
	border-top: 1px solid #fff;
}

.options.disabled{
	background-color: gray;
	opacity: 50%;
}

.options:last-child{
	border-radius: 0px 0px 10px 10px;
}

.total-balance,
.energy-balance {
	border: #000 1.5px solid;
	border-radius: 10px;
	width: calc((95vw/3) - 7vw);
	height: calc(((95vw/3) - 5vw) * 0.3);
	display: flex;
	align-items: center;
}

.energy-more_info{
	display: none;
	position: absolute;
	right: 5px;
	top: 60px;
	background-color: black;
	border-radius: 10px;
	color: white;
	text-align: center;
	padding: 10px 20px;
	font-size: 15px;
	opacity: 0;
	transition: opacity 0.3s ease-in, opacity 0.5s ease-out;

}

.balance-text {
	height: 80%;
	margin-left: 5px;
}

#more-info_button {
	height: 100%;
	width: 100%;
	background: none !important;
	border: none !important;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.more-info_button {
	height: 50%;
}

.point-text {
	z-index: 10;
	padding-top: 20px;
	font-size: 6vh;
	color: black;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
}

.button-container {
	position: absolute;
	bottom: 2.5vh;
	left: 50vw;
	transform: translateX(-50%);
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 5vh;
	z-index: 2;
}

.button-container button {
	border: none;
	background: none;
}

.main-button{
	position: relative;
	z-index: 1;
}

.main-button img {
	width: 150px;
	height: 75px;
}

.other-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	width: 95vw;
	height: 10vh;
	align-items: center;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	z-index: 100;
}

.shop-tab,
.referral-tab,
.roadmap-tab {
	height: 80%;
	width: calc(90% / 3);
	position: relative;
	text-align: center;
	align-items: center;
}

.toggled-style {
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)) !important;
	backdrop-filter: blur(20px) !important;
	-webkit-backdrop-filter: blur(20px) !important;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.shop-tab img,
.referral-tab img,
.roadmap-tab img {
	height: 55%;
	margin-bottom: 2px;
	opacity: 50%;
}

.tab-text {
	color: white;
	text-align: center;
	width: 100%;
	opacity: 50%;
}


.referral-tab::before,
.roadmap-tab::before {
	content: "";
	position: absolute;
	left: -1.5vw;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5px;
	height: 100%;
	background-color: white;
	opacity: 50%;
}

.second-button_1 img,
.second-button_2 img {
	width: 100px;
	height: 50px;
	margin: 0px 30px;
}

.shop {
	position: absolute;
	height: 80vh;
	width: 100vw;
	bottom: 15vh;
	z-index: 1;
   transform: translateY(100%);
	transition: transform 0.4s;
}

.shop.open {
	transform: translateY(0%);
	opacity: 1;
}

.exit-button {
	position: absolute;
	background: none;
	border: none;
}

.exit-button img {
	width: 50px;
	height: 25px;
}

.shop-block {
	position: absolute;
	width: calc(95vw - 10px);
	max-height: calc(70vh - 10px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	left: 50%;
	bottom: 0px;
	transform: translateX(-50%);
	padding: 10px 0px 10px 10px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	overflow-y: auto;
}

.product {
	display: flex;
	margin-bottom: 10px;
	background: none;
	border: none;
	position: relative;
}

#earn-product{
	margin-bottom: 0px;
}

.product:not(:last-child)::after{
	position: absolute;
	content: " ";
	background-color: white;
	width: 90%;
	display: block;
	height: 0.5px;
	bottom: 5px;
	z-index: 100;
	opacity: 50%;
}

.product-icon {
	height: calc((100vw - 60px)/3);
	width: calc((100vw - 60px)/3);
	max-height: calc((50vh- 100px)/3);
	max-width: calc((50vh- 100px)/3);
	text-align: center;
	margin-right: 20px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.product-icon:not(#last-product_icon){
	margin-bottom: 20px;
}

.product-icon img {
	height: calc((100vw - 120px)/4);
	max-height: calc((50vh- 60px)/4);
	opacity: 50%;
	margin-top: calc((((100vw - 60px)/3) - ((100vw - 120px)/4))/2);
}

.buy-icon{
	position: absolute;
	width: 12px;
	height: 20px;
	opacity: 50%;
	top: calc(50% - 10px);
	right: 30px;
	transform: translateY(-50%);
}

#last-buy_icon{
	top: calc(50%);
}

@media (min-height: 1000px) {
	.shop-block {
		width: calc(95vw - 20px);
		padding: 20px 20px 0px 20px;
	}

	.product-icon img {
		height: calc((80vw - 120px)/4);
		margin-top: calc((((100vw - 60px)/3) - ((80vw - 120px)/4))/2);
	}
}

.product-name {
	color: #fff;
	font-size: 22px;
	margin-top: 10px;
	padding-bottom: 10px;
	opacity: 50%;
	text-align: left;
}

.price-text {
	color: #fff;
	font-size: 25px;
	opacity: 50%;
	margin-right: 15px;
}

.product-desc {
	width: 50%;
}

.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-info_text {
	color: #fff;
	opacity: 50%;
}




.referral{
	position: absolute;
	width: 100vw;
	bottom: 15vh;
}

.referral-block{
	width: 95vw;
	margin: auto;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	/*background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(20px);
	border-radius: 20px;*/
}

.invite-info{
	display: none;
}

.invite-block{
	display: flex;
	margin: 10px auto;
	justify-content: center;
}

.invite-block_name{
	text-align: center;
	color: #fff;
	opacity: 50%;
	font-size: 25px;
	margin-right: 10px;
}

.invite-block_btn{
	margin: auto 0;
	background: none;
	border: none;
}

.invite-block_btn img{
	align-items: center;
	width: 15px;
	opacity: 50%;
}

.info-blocks{
	display: flex;
	width: 90vw;
	margin: auto;
	margin-bottom: 25px;
	justify-content: space-between;
}

.info-block{
	width: calc(40vw - 20px);
	border: 1px solid #fff;
	border-radius: 20px;
	color: #fff;
	opacity: 50%;
	text-align: center;
	padding: 10px;
	display: grid;
	align-content: space-around;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.info-block_text{
	font-size: 17px;
	margin-bottom: 15px;
}

.info-reward{
	font-size: 20px;
	font-weight: 700;
}

.info-reward span{
	font-size: 15px;
}

.my-referral_text{
	display: flex;
}

.my-referral_name{
	color: #fff;
	opacity: 50%;
	font-size: 25px;
	margin: 15px 10px 15px 5vw;
}

.my-referral_btn{
	margin: auto 0;
	background: none;
	border: none;
}

.my-referral_btn img{
	align-items: center;
	width: 15px;
	opacity: 50%;
}

.my-referrals{
	margin: auto;
	margin-bottom: 20px;
	display: grid;
	gap: 5vw;
	width: 85vw;
	height: calc(22.3vh + 5vw);
	padding: 4vw 0;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	overflow-y: auto;
}

.referral-account{
	width: 80vw;
	height: 8vh;
	padding: 1.5vh 0;
	display: flex;
	margin: 0 auto;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.referral-icon{
	height: 8vh;
	opacity: 50%;
	margin-left: 15px;
}

.referral-desc{
	margin-left: 20px;
	color: #fff;
	opacity: 50%;
	display: grid;
	align-content: space-around;
}

.referral-name{
	font-size: 23px;
	margin-bottom: 5px;
}

.referral-consequence{
	display: flex;
	align-items: center;
}

.referral-reward{
	font-size: 18px;
	font-weight: 700;
}

.referral-telegram_state{
	font-size: 12px;
	margin-left: 4px;
}

.btn-block{
	width: 85vw;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 25px;
}

.send-link{
	width: calc(85vw - 10vh);
	height: 8vh;
	background: none;
	border: 1px solid #fff;
	border-radius: 20px;
	color: #cccccc;
	font-size: 20px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.copy-link{
	width: 8vh;
	height: 8vh;
	background: none;
	border: 1px solid #fff;
	border-radius: 20px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

.copy-link img{
	width: 4vh;
	opacity: 70%;
	margin-top: 3px;
}
