body {
	margin: 0px;
	overflow: hidden;
	position: relative;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.game-container {
	width: 420px;
	height: 750px;
	display: block;
	position: relative;
	height: 100vh;
}

#board {
	flex-shrink: 0;
	background-image: url("Image/Image/flappybirdbg.png");
	background-position-y: center;
	background-size: cover;
	position: absolute;
}

.start-header {
	z-index: 1;
	width: 100vw;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 3vh;
	position: relative;
}

.regim{
	width: calc(95vw/2.5);
}

.regim img {
	display: block;
	width: 100%;
	/*margin-left: 50vw;
	transform: translateX(-50%);*/
}

.total-balance,
.energy-balance{
	border: #000 1.5px solid;
	border-radius: 10px;
	width: calc((95vw/3) - 7vw);
	height: calc(((95vw/3) - 5vw) * 0.3);
	display: flex;
	align-items: center;
}

.balance-text{
	height: 80%;
	margin-left: 5px;
}

.more-info_button{
	height: 50%;
	margin-left: auto;
	margin-right: 5px;
}

/*.all-point_text {
	position: absolute;
	font-size: 4vh;
	color: black;
	margin-left: 15px;
	white-space: nowrap;
}

.energy-text {
	transform: translateX(-80%);
	font-size: 4vh;
	color: black;
	white-space: nowrap;
}*/

.point-text {
	z-index: 10;
	padding-top: 20px;
	font-size: 6vh;
	color: black;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
}

.button-container {
	position: absolute;
	bottom: 2.5vh;
	left: 50vw;
	transform: translateX(-50%);
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 5vh;
	z-index: 2;
}

.button-container button {
	border: none;
	background: none;
}

.main-button img {
	width: 150px;
	height: 75px;
}

.other-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	width: 95vw;
	height: 10vh;
	align-items: center;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.shop-tab,
.referral-tab,
.roadmap-tab{
	height: 80%;
	width: calc(90%/3);
	position: relative;
	text-align: center;
	align-items: center;
}

.shop-tab img,
.referral-tab img,
.roadmap-tab img{
	height: 55%;
	opacity: 50%;
}

.tab-text{
	color: white;
	text-align: center;
	width: 100%;
	opacity: 50%;
}


.referral-tab::before,
.roadmap-tab::before{
	content: "";
   position: absolute;
   left: -1.5vw;
   top: 50%;
   transform: translateY(-50%);
   width: 0.5px;
   height: 100%;
   background-color: white;
	opacity: 50%;
}

.second-button_1 img,
.second-button_2 img {
	width: 100px;
	height: 50px;
	margin: 0px 30px;
}

.shop{
	position: absolute;
	height: 100%;
	display: none;
	bottom: 0px;
	z-index: 10;
}

.exit-button{
	position: absolute;
	top: 100px;
	left: 20px;
	background: none;
	border: none;
}

.exit-button img{
	width: 50px;
	height: 25px;
}

.shop-block{
	position: absolute;
	bottom: 0px;
}

.name-text,
.price-text{
	color: #fff;
	font-size: 25px;
	text-align: center;
	padding-bottom: 10px;
}

.buy-button{
	background: none;
	border: none;
	width: 100vw;
}

.buy-button img{
	width: 150px;
	height: 75px;
	text-align: center;
	padding-bottom: 25px;
}
