body {
	margin: 0px;
	overflow: hidden;
	position: relative;
}

.game-container {
	width: 420px;
	height: 750px;
	display: flex;
	position: relative;
	height: 100vh;
}

#board {
	flex-shrink: 0;
	background-image: url("Image/Image/flappybirdbg.png");
	background-position-y: center;
	background-size: cover;
	position: absolute;
}

.start-header {
	z-index: 1;
	width: 100%;
}

.start-header img {
	padding-top: 20px;
	display: block;
	width: 170px;
	margin-left: 50vw;
	transform: translateX(-50%);
	text-align: center;
}

.button-container {
	position: absolute;
	top: 70vh;
	left: 50vw;
	transform: translateX(-50%);
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 2;
}

.button-container button {
	border: none;
	background: none;
}

.main-button img {
	width: 150px;
	height: 75px;
}

.other-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.second-button img {
	width: 100px;
	height: 50px;
	margin: 0px 30px;
}
